<nav class="navbar navbar-default" style="margin-bottom: 50px; margin-top: 10px;">
    <div class="container" style="width: 1400px;">
        <div class="navbar-header">
                       {% for guild in render_guild %}
                                    <h4 style="font-size: 20px; color: #fff;">
                                        <img class="img-responsive" style="display:inline-block; height:40px; border-radius: 50px; margin-top-5px" src="https://cdn.discordapp.com/icons/{{ guild['id'] }}/{{ guild['icon'] }}.png" />
                                        {{ guild['name'] }}

                                    {% endfor %}
                           </h4>
              </div>
        </div>
    </div>
</nav>
