{% extends 'layout.html' %}

{% block body %}
    <section id="main" style="style="background-color: rgb(255, 255, 255);background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%), url(../static/launchpad.png);>
        <div class="container" style="width: 990px;">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default col-md-offset-3" style="border-radius: 33px; border: none;">
                        <div class="panel-heading main-color-bg" style="padding: 20px; border-radius: 24px 24px 0px 0px; border: none; background-color: #5765f2 !important;">
{% for guild in render_guild %}
                                    <h4 style="font-size: 18px; color: #fff;">
                                       
                                       {{ guild['name'] }} community rewards checking

                                    {% endfor %}
                           
                        </div>
                        <div class="panel-body">
                            <div class="well well-lg">
                                    {% for guild in render_guild %}
                                    <h4 style="font-size: 45px;">
                                        <img class="img-responsive" style="display:inline-block; height:80px; border-radius: 15px; margin-top-5px" src="https://cdn.discordapp.com/icons/{{ guild['id'] }}/{{ guild['icon'] }}.png" />
                                        {{ guild['name'] }}

                                    {% endfor %}
<h3 class="panel-title" style="display: flex;justify-content: center; position: relative;top: -20px;color: #080726;font-weight: 500;">(Official Discord)</h3>
   <h3 class="panel-title" style="font-size: 20px; color: #080726; font-weight: 400;">Welcome</h3>
<h2 style="font-size:20px; display: flex; align-items: center; justify-content: center;">
  <img class="img-responsive" style="border-radius: 20px; display:inline-block; height:30px; margin-top-5px; margin-right: 6px; 
    height: 30px;" src="{{ render_user_avatar }}" />
                {{ render_username }}
</h2>
 <h3 class="panel-title" style="font-size: 14px;
    font-weight: 400;
    color: #000;">Connect your wallet to check your rewards</h3>
<button type="button" class="btn btn-success pull-right connectButton" style="font-size: 20px;
    border-radius: 1.5rem;
    border-color: #5765f2;
    background-color: #5765f2;
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    float: none!important;
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;">Connect wallet</button>
                                    </h4>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
